body{
    font-size: 18px;
    background-color: #ECEFF1;
    font-family: 'Roboto', sans-serif;

}

.container_general{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;

}
.container{
    width: 47rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #cccccc;
    border-radius: 0.83333333rem;
    box-shadow: 6px 6px 2px 1px  #ccc;
    background-color: #ffffff;
    max-width: 100%;
}

.picture{
    position: relative;
    max-width: 100%;
    line-height: 0.15;
}

.picture img{
    border-top-left-radius: 0.83333333rem;
    border-bottom-left-radius: 0.83333333rem;
    max-height: 100%;

}

.text-picture{
    position: absolute;
    left: 9%;
    bottom: 15%;
    color: #ffffff;
}

.form{
    margin-left: 10px;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-top-right-radius: 0.83333333rem;
    border-bottom-right-radius: 0.83333333rem;
    max-width: 100%;
}

form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form h1 {
    font-weight: 700;
    color: #333;
    font-size: 1.55555556rem;
    position: relative;
}

.field{
    width: 100%;
    position: relative;
    padding-top: 1rem;
}

.field label{
    font-weight: 400;
    font-size: 0.88888889rem;
    color: #666;
    display: block;

}

.field input{
    width: 90%;
    border: 0.05555556rem solid #e5e5e5;
    border-radius: 0.27777778rem;
    outline: none;
    font-size: 0.88888889rem;
    color: #333;
    padding: 0.5rem;

}

.inputField{
    display: flex;


}

.check,.error{
    display: none;
}

#checkFirstname, #checkUsername, #checkEmail{
    padding: 0.7rem;
}

#errorFirstname, #errorUsername, #errorEmail{
    padding: 0.7rem;
}


#btn_submit{
    padding: 10px;
    background: #1976D2;
    border-radius: 6px;
    width: 160px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

#btn_submit:hover{
    background-color: #1565C0;
}